/***************
    common UI elements
***************/

* {
    font-family: 'Roboto', sans-serif;
}

.my-bgcolor-darkblue { background-color: #051E34; }
.my-bgcolor-blue { background-color: #165BBA; }
.my-bgcolor-skyblue { background-color: #1B72E8; }
.my-bgcolor-gray { background-color: #F8F9FA; }
.my-bgcolor-green { background-color: #198754; }
.my-bgcolor-yellow { background-color: #FFC107; }
.my-bgcolor-red { background-color: #DC3545; }

.my-color-darkgray { color: #5B5858; }
.my-color-gray { color: #6C757D; }
.my-color-yellow { color: #FF8F00; }

:root {
    --slidebar-width: 12rem;
    --slidebar-width-resp: 3rem;
}

/***************
    nav elements
***************/

.navbar { flex-wrap: nowrap; }

.input-group { width: 80%; }

.input-group-text:hover {
    cursor: pointer;
    background-color: #d9dcdf;
}

#menu-link {
    cursor: pointer;
    transition: all .55s ease;
}

#menu-link:hover { scale: 1.3; }

#help-link {
    cursor: pointer;
    transition: all .55s ease;
}

#help-link:hover { scale: 1.3; }

#dots-link {
    cursor: pointer;
    transition: all .55s ease;
}

#dots-link:hover { scale: 1.3; }

#bell-link {
    cursor: pointer;
    transition: all .55s ease;
}

#bell-link:hover { scale: 1.3; }

/***************
    slidebar elements
***************/

